@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* TEMPLATES */

/* fonts */
.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-opensans {
    font-family: 'Open Sans', sans-serif;
}

/* texts */
.text-section-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 36px;
    text-transform: uppercase;
    padding: 16px 0;
}

.text-sub-section-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.text-content-regular {
    font-family: 'Open Sans', sans-serif;
}

.text-content-light {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.text-content-regular-l {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.text-content-light-l {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.text-justify {
    text-align: justify;
}

.text-light {
    color: white !important;
}

.text-dark {
    color: #111111 !important;
}

.lspace-3 {
    letter-spacing: 3px;
}

.low-highlight {
    background: linear-gradient(to top, #FCD12A 40%, transparent 40%);
}

/* backgrounds */
.bg-dark {
    background-color: #111111 !important;
}

.bg-yellow {
    background-color: #FCD12A;
}

.bg-gac-1 {
    background-color: #EFA4E9;
}

.bg-gcon-1 {
    background-color: #76A2E2;
}

.bg-ginc-1 {
    background-color: #9CE8C4;
}


/* buttons */
.btn-primary-rect {
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 4px;
    padding: 6px 18px;
    background-color: #FCD12A;
    color: #111111;
    text-decoration: none;
    transition: 0.3s all ease;
}

.btn-primary-round {
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 36px;
    padding: 10px 22px;
    background-color: #FCD12A;
    color: #111111;
    text-decoration: none;
    transition: 0.3s all ease;
}

.btn-primary-rect:hover, .btn-primary-round:hover {
    background-color: #dbb724;
    color: #111111;
}

.btn-dark-rect {
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 4px;
    padding: 6px 18px;
    background-color: #111111;
    color: white;
    text-decoration: none;
    transition: 0.3s all ease;
}

.btn-dark-round {
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 36px;
    padding: 10px 22px;
    background-color: #111111;
    color: white;
    text-decoration: none;
    transition: 0.3s all ease;
}

.btn-dark-rect:hover, .btn-dark-round:hover {
    background-color: #242424;
    color: white;
}

/* custom card */
.cst-card {
    border-radius: 12px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    margin: 0 3%;
}

.cst-card-content {
    padding: 1.5rem;
}

/* elements override */
body {
    font-family: 'Open Sans', sans-serif;
    color: #111111;
    background-color: #F9F9F9;
}

p {
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    margin: 0px;
}

/* navigation bar */
.navbar {
    background-color: #252525 !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.nav-link {
    text-decoration: none;
    color: white !important;
    font-weight: 300;
    transition: 0.5s;
}

.nav-link:hover {
    color: #d8d8d8;
}

/* FOOTER */

footer {
    padding: 40px 10%;
    background-color: #252525;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    margin: 6px 0;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    transition: 0.5s;
}

footer a:hover {
    color: #d8d8d8;
}

footer label {
    font-size: 14px;
}

footer input {
    border-radius: 4px;
    padding: 6px 10px;
}

#footer-logo {
    flex: 1;
}

#footer-logo img {
    width: 160px;
}

#footer-tagline {
    flex: 1;
}

#footer-socials {
    flex: 1;
    text-align: center;
}

.footer-sub-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.footer-newsletter {
    border-left: 1px solid rgb(80, 80, 80);
}

#footer-copyright {
    color: rgb(124, 124, 124);
}

/* departments */
#departments-navigation button {
    font-size: 18px;
    border: none;
    border-radius: 12px 12px 0 0;
    padding: 8px 12px 6px 12px;
    background:rgb(200, 200, 200);
    box-shadow: 2px 0px 0px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#departments-navigation button:hover {
    background:rgb(230, 230, 230);
}

#departments-navigation .nav-active {
    background-color: #FCD12A;
}

#departments-navigation .nav-active:hover {
    background-color: #ffdc4e !important;
}

#departments-navigation .nav-active:hover {
    background-color: rgb(240, 240, 240);
}

#department-container {
    background-color: #FFFFFF;
    border-radius: 0 6px 6px 6px;
    padding: 24px;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

@media all and (min-width: 992px) {
    /* Make navbar dropdown links triggered on hover */
	.navbar .nav-item .dropdown-menu{
        display: none;
    }

	.navbar .nav-item:hover .dropdown-menu{
        display: block;
    }

	.navbar .nav-item .dropdown-menu{
        margin-top:0;
    }
}